
@{
    ViewData["Title"] = " List Page";
    Layout = "~/Views/Shared/MOMLayout.cshtml";
}

<!--Grid Control-->
<link href="~/MOMUI/Design/css/grid.css" rel="stylesheet" />
<style type="text/css">

    @@media screen and (max-width: 2048px) {

        .rgDataDiv {
            height: 50vh !important;
        }

        .RadGrid_Material {
            font-size: 0.9rem !important;
        }
    }

    @@media screen and (max-width: 2304px) {

        .rgDataDiv {
            height: 52vh !important;
        }

        .RadGrid_Material {
            font-size: 0.9rem !important;
        }
    }

    @@media screen and (max-width: 1920px) {

        .rgDataDiv {
            height: 47vh !important;
        }
    }

    @@media screen and (max-width: 1706px) {

        .rgDataDiv {
            height: 42vh !important;
        }

        .RadGrid_Material {
            font-size: 0.9rem !important;
        }
    }

    @@media screen and (max-width: 1688px) {

        .rgDataDiv {
            height: 42vh !important;
        }

        .RadGrid_Material {
            font-size: 0.9rem !important;
        }
    }

    @@media screen and (max-width: 1366px) {

        .rgDataDiv {
            height: 30vh !important;
        }

        .RadGrid_Material {
            font-size: 0.9rem !important;
        }
    }
</style>

<div class="divbutton-container">
    <div id="divButtons">
        <div id="breadcrumbs-wrapper">
            <header>
                <div class="container row-color-grey">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="row">
                                        <div class="page-title"><i class="mdi-communication-contacts"></i>&nbsp;Manage Bills</div>
                                        <div class="buttonContainer">
                                            <div class="btnlinks">
                                                <a ID="lnkAddnew" href="@Url.Action("Index","AddBills")">Add</a>
                                            </div>
                                            <div class="btnlinks">
                                                <a ID="lnkEdit">Edit</a>
                                            </div>
                                            <div class="btnlinks menuAction">
                                                <a onclick="DropdownMenu()" class="dropbtn" style="cursor: pointer;">
                                                    Actions
                                                </a>
                                            </div>
                                            <ul id="drpMenu" class="nomgn hideMenu menuList">
                                                <li>
                                                    <div class="btnlinks">
                                                        <a ID="lnkCopy">Copy</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="btnlinks">
                                                        <a ID="lnkDelete" onclick="return ConfirmDelete();">Delete</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="btnlinks">
                                                        <a ID="lnkExcel">Export to Excel</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="btnlinks">
                                                        <a ID="lnkEditBillDate" style="cursor: pointer;" onclick="OpenBillPopupEdit(this);">Bill Date</a>
                                                        
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="btnlinks">
                                                        <a class="dropdown-button" data-beloworigin="true" href="customersreport.aspx" data-activates="dropdown1">
                                                            Reports
                                                        </a>
                                                    </div>
                                                    <ul id="dropdown1" class="dropdown-content">
                                                        <li>
                                                            <a href="BillListingReport.aspx?type=Bill" class="-text">Add New Report</a>
                                                        </li>
                                                        <li>
                                                            <a href="BillsReport.aspx" class="-text">Bill Summary Report</a>
                                                        </li>
                                                        <li>
                                                            <a href="APAgingReport.aspx" class="-text">AP Aging Report</a>
                                                        </li>
                                                        <li>
                                                            <a href="APAging360Report.aspx" class="-text">AP Aging 360 Report</a>
                                                        </li>
                                                        <li>
                                                            <a href="PurchaseJournalReport.aspx" class="-text">Bill Weekly Report</a>
                                                        </li>
                                                        <li>
                                                            <a href="UseTaxReport.aspx" class="-text">Use Tax Report</a>
                                                        </li>
                                                        <li>
                                                            <a href="UTaxLocReport.aspx" class="-text">UTax Location Report</a>
                                                        </li>
                                                        <li>
                                                            <a href="PrintBillRegisterGL.aspx" class="-text">Bill Register GL Report</a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="btnlinks">
                                                        <a ID="lnkProcess" ForeColor="Red" onclick="return CheckProcess();"> Process</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btnclosewrap">
                                            <a ID="lnkClose"><i class="mdi-content-clear"></i></a>
                                        </div>
                                        <div class="rght-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="srchpane">
            <div class="srchpaneinner">
                <div class="srchtitle srchtitlecustomwidth" style="padding-left: 15px;">
                    <label ID="lblStart">Date</label>
                </div>
                <div class="srchinputwrap">
                    <input type="text" ID="txtFromDate" class="datepicker_mom" style="width:100px" />
                </div>
                <div class="srchinputwrap">
                    <input type="text" ID="txtToDate" class="datepicker_mom" style="width:100px" />
                </div>
                <div class="srchinputwrap">
                    <ul class="tabselect accrd-tabselect" id="testradiobutton">
                        <li>
                            <a AutoPostBack="False" ID="decDate" onclick="dec_date('dec','ctl00_ContentPlaceHolder1_txtToDate','ctl00_ContentPlaceHolder1_txtFromDate','rdCal');return false;"><i class='mdi-hardware-keyboard-arrow-left'></i></a>
                        </li>
                        <li>
                            <label id="lblDay">
                                <input type="radio" id="rdDay" name="rdCal" value="rdDay" onclick="SelectDate('Day', 'ctl00_ContentPlaceHolder1_txtFromDate', 'ctl00_ContentPlaceHolder1_txtToDate', '#lblDay', 'hdnBillsDate', 'rdCal')" />
                                Day
                            </label>
                        </li>
                        <li>
                            <label id="lblWeek">
                                <input type="radio" id="rdWeek" name="rdCal" value="rdWeek" onclick="SelectDate('Week', 'ctl00_ContentPlaceHolder1_txtFromDate', 'ctl00_ContentPlaceHolder1_txtToDate', '#ctl00_ContentPlaceHolder1_lblWeek', 'hdnBillsDate', 'rdCal')" />
                                Week
                            </label>
                        </li>
                        <li>
                            <label id="lblMonth">
                                <input type="radio" id="rdMonth" name="rdCal" value="rdMonth" onclick="SelectDate('Month', 'ctl00_ContentPlaceHolder1_txtFromDate', 'ctl00_ContentPlaceHolder1_txtToDate', '#ctl00_ContentPlaceHolder1_lblMonth', 'hdnBillsDate', 'rdCal')" />
                                Month
                            </label>
                        </li>
                        <li>
                            <label id="lblQuarter">
                                <input type="radio" id="rdQuarter" name="rdCal" value="rdQuarter" onclick="SelectDate('Quarter', 'ctl00_ContentPlaceHolder1_txtFromDate', 'ctl00_ContentPlaceHolder1_txtToDate', '#ctl00_ContentPlaceHolder1_lblQuarter', 'hdnBillsDate', 'rdCal')" />
                                Quarter
                            </label>
                        </li>
                        <li>
                            <label id="lblYear">
                                <input type="radio" id="rdYear" name="rdCal" value="rdYear" onclick="SelectDate('Year', 'ctl00_ContentPlaceHolder1_txtFromDate', 'ctl00_ContentPlaceHolder1_txtToDate', '#ctl00_ContentPlaceHolder1_lblYear', 'hdnBillsDate', 'rdCal')" />
                                Year
                            </label>
                        </li>
                        <li>
                            <a ID="incDate" onclick="dec_date('inc','ctl00_ContentPlaceHolder1_txtToDate','ctl00_ContentPlaceHolder1_txtFromDate','rdCal');return false" ><i class='mdi-hardware-keyboard-arrow-right'></i></a>
                        </li>
                    </ul>
                </div>
                <div class="srchinputwrap rdleftmgn">
                    <div class="rdpairing">
                        <div UpdateMode="Conditional" ID="udpRdo">
                            <div>
                                <div class="rd-flt">
                                    <input type="radio" ID="rdobill" class="with-gap rdoJournal" value=" Bills" GroupName="JE" AutoPostBack="true" />
                                    <label ID="lnkChk">Bills</label>
                                </div>
                                <div class="rd-flt">
                                    <input type="radio" ID="rdoRecurring" class="with-gap" value=" Recurring Bills" GroupName="JE" AutoPostBack="true" />
                                    <label ID="lnkChk">Recurring Bills</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col lblsz2 lblszfloat">
                    <div class="row">
                        <span class="tro trost">
                            <input type="checkbox" ID="lnkChk" AutoPostBack="True"/>
                            <label ID="lnkChk">Incl. Closed</label>
                        </span>
                        <span class="tro trost">
                            <a ID="lnkShowAll">Show All </a>
                        </span>
                        <span class="tro trost">
                            <a ID="lnkClear">Clear</a>
                        </span>
                        <span class="tro trost" style="display:block;">
                            <i class="mdi-social-notifications"></i>
                        </span>
                        <span class="tro trost">
                            @*<asp:UpdatePanel ID="updpnl" UpdateMode="Conditional">
                                <ContentTemplate>*@
                                    <label ID="lblRecordCount" style="font-size:0.9rem">0 Record(s) found.</label>
                                @*</ContentTemplate>
                            </asp:UpdatePanel>*@
                        </span>
                    </div>
                </div>
            </div>
          
                    <div class="srchpaneinner">
                        <div class="srchtitle srchtitlecustomwidth" style="padding-left: 15px;">
                            Search
                        </div>
                        <div class="srchinputwrap">
                            <select ID="ddlSearch" class="browser-default selectst selectsml" AutoPostBack="true">
                                <option>Select</option>
                            </select>
                        </div>

                        <div class="srchinputwrap">
                            <select ID="ddlStatus" class="browser-default selectst" Visible="False" AutoPostBack="true">
                                <option Value="0">Open </option>
                                <option Value="1">Closed </option>
                                <option Value="2">Void</option>
                                <option Value="3">Partial</option>
                            </select>
                        </div>
                        <div class="srchinputwrap">
                            <select ID="ddlBOMType" class="browser-default selectst" Visible="False" AutoPostBack="true">
                                <option Value="1">Materials </option>
                                <option Value="2">Labor </option>
                                <option Value="3">Sub-Contract</option>
                                <option Value="4">Permit </option>
                                <option Value="5">Consulting </option>
                                <option Value="6">Equipment Rental</option>
                                <option Value="7">Inspections </option>
                                <option Value="8">Inventory </option>
                                <option Value="9">Submissions</option>
                                <option Value="10">Misc. </option>
                                <option Value="11">Travel </option>
                                <option Value="14">Commission </option>
                                <option Value="15">Other</option>
                            </select>
                        </div>
                        <div class="srchinputwrap">
                            <input type="text" ID="txtSearch" class="srchcstm" onkeypress="return isNumberKey(this,event)" />
                        </div>
                        <div class="srchinputwrap">
                            <input type="text" ID="txtVendorSearch" class="srchcstm" Visible="false" />
                        </div>
                        <div class="srchinputwrap">
                            <select ID="ddlInvoice" class="browser-default selectst" AutoPostBack="true">
                                <option Value="0">All </option>
                                <option Value="1">Outstanding </option>
                                <option Value="2">Due </option>
                            </select>
                        </div>
                        <div class="srchinputwrap">
                            <input type="text" ID="txtRef" class="srchcstm" placeholder="Ref" />
                        </div>
                        <div class="srchinputwrap">
                            <div class="btnlinksicon">
                                <a ID="lnkSearch">
                                    <i class="mdi-action-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                 
        </div>
        <div class="grid_container">
            <div class="form-section-row" style="margin-bottom: 0 !important;">
                <div class="RadGrid RadGrid_Material">
                  
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdnID")
@Html.Hidden("hdnTRID")
@Html.Hidden("hdnBatch")
@Html.Hidden("hdnBillsSelectDtRange","")
@Html.Hidden("hdnCssActive","1")

<script type="text/javascript">
    function OpenBillPopupEdit() {

        var grid = $find("#RadGrid_Bills");
        var MasterTable = grid.get_masterTableView();
        var selectedRows = MasterTable.get_selectedItems();
        var ID = "";
        for (var i = 0; i < selectedRows.length; i++) {
            var row = selectedRows[i];
            ID = MasterTable.getCellByColumnUniqueName(row, "lblIndexID").innerHTML;
        }
        if (ID != "") {
            $.ajax({
                type: "POST",
                url: "ManageBills.aspx/ManageBillCodeEdit",
                data: '{lblIndex: "' + ID + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#hdnID").val(response.d.ID);
                    $("#hdnTRID").val(response.d.TRID);
                    $("#txtReference").val(response.d.Ref);
                    $("#txtPostingDate").val(response.d.PostingDate);
                    $("#txtDate").val(response.d.Date);
                    $("#txtDueDate").val(response.d.Due);
                    $("#hdnBatch").val(response.d.Batch);

                    window.radopen(null, "BillCodeWindow");
                    Materialize.updateTextFields();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            ChkWarning();
        }
    }
    function DeleteBillMsg() {
        noty({
            text: 'Bill deleted successfully!',
            type: 'success',
            layout: 'topCenter',
            closeOnSelfClick: false,
            timeout: 5000,
            theme: 'noty_theme_default',
            closable: true
        });
    }
    function DeleteRecrrBillMsg() {
        noty({
            text: 'Recurring Bill deleted successfully!',
            type: 'success',
            layout: 'topCenter',
            closeOnSelfClick: false,
            timeout: 5000,
            theme: 'noty_theme_default',
            closable: true
        });
    }
    function closedMesg() {
        noty({
            text: 'This bill is not open and can therefore not be deleted.',
            type: 'warning',
            layout: 'topCenter',
            closeOnSelfClick: false,
            timeout: 5000,
            theme: 'noty_theme_default',
            closable: true
        });
    }
    function DatePermissionAlert(mesg) {
        // alert("These month/year period is closed out. You do not have permission to " + mesg + " this record.");
        noty({
            text: 'These month/year period is closed out. You do not have permission to ' + mesg + ' this record.',
            type: 'warning',
            layout: 'topCenter',
            closeOnSelfClick: false,
            timeout: 5000,
            theme: 'noty_theme_default',
            closable: true
        });
    }

    function ChkWarning() {
        noty({
            text: 'Please select an bill to edit bill date.',
            type: 'warning',
            layout: 'topCenter',
            closeOnSelfClick: false,
            timeout: 5000,
            theme: 'noty_theme_default',
            closable: true
        });
        return false;
    }
    //delete bill
    function ConfirmDelete() {
        debugger;
        var sel = "0";
        var result = false;
        $("#RadGrid_Bills").find('tr:not(:first,:last)').each(function () {
            debugger;
            var $tr = $(this);
            $tr.find('input[type="checkbox"]:checked').each(function (index, value) {
                result = true;
                var hdnID = $tr.find('span[id*=hdnID]');
                ref = $(hdnID).val();
                var hdnSel = $tr.find('span[id*=hdnSel]');
                sel = $(hdnSel).val();
            });
        });
        debugger;
        if (sel == "1") {
            noty({
                text: 'This bill has closed and can therefore not be voided.',
                type: 'warning',
                layout: 'topCenter',
                closeOnSelfClick: false,
                timeout: 5000,
                theme: 'noty_theme_default',
                closable: true
            });
            return false;
        }
        else if (sel == "2") {
            noty({
                text: 'This bill is already voided and can therefore not be voided.',
                type: 'warning',
                layout: 'topCenter',
                closeOnSelfClick: false,
                timeout: 5000,
                theme: 'noty_theme_default',
                closable: true
            });
            return false;
        }
        else {
            if (result == true) {
                return confirm('Are you sure that you want to delete this bill ?');
            }
            else {
                noty({
                    text: 'Please select an bill to delete.',
                    type: 'warning',
                    layout: 'topCenter',
                    closeOnSelfClick: false,
                    timeout: 5000,
                    theme: 'noty_theme_default',
                    closable: true
                });
                return false;
            }
        }
    }
    function CheckProcess() {
        var result = false;
        $("#RadGrid_Bills tr").each(function () {
            var checkBox = $(this).find("input[type='checkbox']");
            if (checkBox.is(":checked")) {
                result = true;
            }
        });

        if (result == true) {
            return confirm('Are you sure you want to process this adjustment?');
        }
        else {
            alert('Please select a Recurring entry to process.')
            return false;
        }
    }
    function isNumberKey(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;

        if (charCode == 45) {
            return true;
        }

        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }

        if (number.length > 1 && charCode == 46) {
            return false;
        }
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function CssClearLabel() {
        $("#lblDay").removeClass("labelactive");
        $("#lblWeek").removeClass("labelactive");
        $("#lblMonth").removeClass("labelactive");
        $("#lblQuarter").removeClass("labelactive");
        $("#lblYear").removeClass("labelactive");
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {

        //$('#colorNav #dynamicUI li').remove();

        ////efficient-&-compact JQuery way
        //$(reports).each(function (index, report) {

        //    var imagePath = null;
        //    if (report.IsGlobal == true) {
        //        imagePath = "images/globe.png";
        //    }
        //    else {
        //        imagePath = "images/blog_private.png";
        //    }
        //    $('#dynamicUI').append('<li><a href="BillListingReport.aspx?reportId=' + report.ReportId + '&reportName=' + report.ReportName + '&type=Bill"><span> <img src=images/reportfolder.png>  ' + report.ReportName + '</span><div style="clear:both;"></div></a></li>')
        //});
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('label input[type=radio]').click(function () {
            $('input[name="' + this.name + '"]').each(function () {
                $(this.parentNode).toggleClass('labelactive', this.checked);
            });
        });
        debugger;
        if (typeof (Storage) !== "undefined") {

            // Retrieve
            var SesVar = '<%= Convert.ToString(Session["lblBillActive"])%>';
            var val;
            val = localStorage.getItem("hdnBillsDate");
            if (SesVar == '2') {
                $("#lblDay").addClass("");
                $("#lblWeek").addClass("");
                $("#lblMonth").addClass("");
                $("#lblQuarter").addClass("");
                $("#lblYear").addClass("");
            }
            else {
                if (val == 'Day') {
                    $("#lblDay").addClass("labelactive");
                    $("#rdDay").css('checked', true);
                }
                else if (val == 'Week') {

                    $("#lblWeek").addClass("labelactive");
                    $("#rdWeek").css('checked', true);
                }
                else if (val == 'Month') {

                    $("#lblMonth").addClass("labelactive");
                    $("#rdMonth").css('checked', true);
                }
                else if (val == 'Quarter') {

                    $("#lblQuarter").addClass("labelactive");
                    $("#rdQuarter").css('checked', true);
                }
                else if (val == 'Year') {

                    $("#lblYear").addClass("labelactive");
                    $("#rdYear").css('checked', true);
                }
                else {
                    $("#lblWeek").addClass("labelactive");
                    $("#rdWeek").css('checked', true);
                }
            }
        }
    });
</script>
<script type="text/javascript">
    function dec_date(select, txtDateTo, txtDateFrom, rdGroup) {
        var select = select;
        var txtDateTo = txtDateTo;
        var txtDateFrom = txtDateFrom;
        var rdGroup = rdGroup;
        var xday;
        var xWeek;
        var xMonth;
        var xYear;
        var xQuarter;
        if (select == "dec") {
            xday = -1;
            xWeek = -7;
            xMonth = -1;
            xQuarter = -3;
            xYear = -1;
        }
        if (select == "inc") {

            xday = 1;
            xWeek = 7;
            xMonth = 1;
            xQuarter = 3;
            xYear = 1;
        }
        var radio = document.getElementsByName(rdGroup); //Client ID of the RadioButtonList1
        var selected;
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked) { // Checked property to check radio Button check or not
                //alert("Radio button having value " + radio[i].value + " was checked."); // Show the checked value
                selected = radio[i].value;

            }
            if (selected == "") {
                selected = 'rdWeek';
            }
        }
        if (selected == 'rdDay') {

            //dec the from date
            var tt = $(txtDateFrom).val()

            var date = new Date(tt);
            var newdate = new Date(date);

            newdate.setDate(newdate.getDate() + xday);

            var dd = newdate.getDate();
            var mm = newdate.getMonth() + 1;
            var y = newdate.getFullYear();

            var someFormattedDate = mm + '/' + dd + '/' + y;
            $(txtDateFrom).val(someFormattedDate);
            //dec the to date

            var TT = $(txtDateTo).val()

            var DATE = new Date(TT);
            var NEWDATE = new Date(DATE);

            NEWDATE.setDate(NEWDATE.getDate() + xday);

            var DD = NEWDATE.getDate();
            var MM = NEWDATE.getMonth() + 1;
            var Y = NEWDATE.getFullYear();

            var someFormattedDATE = MM + '/' + DD + '/' + Y;
            $(txtDateTo).val(someFormattedDATE);
        }
        else if (selected == 'rdWeek') {
            //dec the from date
            var tt = $(txtDateFrom).val()

            var date = new Date(tt);
            var newdate = new Date(date);

            newdate.setDate(newdate.getDate() + xWeek);

            var dd = newdate.getDate();
            var mm = newdate.getMonth() + 1;
            var y = newdate.getFullYear();

            var someFormattedDate = mm + '/' + dd + '/' + y;
            $(txtDateFrom).val(someFormattedDate);
            //dec the to date

            var TT = $(txtDateTo).val()

            var DATE = new Date(TT);
            var NEWDATE = new Date(DATE);

            NEWDATE.setDate(NEWDATE.getDate() + xWeek);

            var DD = NEWDATE.getDate();
            var MM = NEWDATE.getMonth() + 1;
            var Y = NEWDATE.getFullYear();

            var someFormattedDATE = MM + '/' + DD + '/' + Y;
            $(txtDateTo).val(someFormattedDATE);
        }
        else if (selected == 'rdMonth') {
            //dec the from date

            Date.isLeapYear = function (year) {
                return (((year % 4 === 0) && (year % 100 !== 0)) || (year % 400 === 0));
            };

            Date.getDaysInMonth = function (year, month) {
                return [31, (Date.isLeapYear(year) ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
            };

            Date.prototype.isLeapYear = function () {
                return Date.isLeapYear(this.getFullYear());
            };

            Date.prototype.getDaysInMonth = function () {
                return Date.getDaysInMonth(this.getFullYear(), this.getMonth());
            };

            Date.prototype.addMonths = function (value) {

                var n = this.getDate();
                this.setDate(1);
                this.setMonth(this.getMonth() + value);
                this.setDate(Math.min(n, this.getDaysInMonth()));
                return this;
            };

            Date.prototype.addMonthsLast = function (value) {

                var n = this.getDate();
                this.setDate(1);
                this.setMonth(this.getMonth() + 1);
                if (this.getDaysInMonth() == 31) {

                    this.setDate(Math.max(n, this.getDaysInMonth()));
                }
                else {
                    this.setDate(Math.min(n, this.getDaysInMonth()));

                }

                return this;
            };

            Date.prototype.addMonthsLastDec = function (value) {

                var n = this.getDate();
                this.setDate(1);
                this.setMonth(this.getMonth() - 1);
                if (this.getDaysInMonth() == 31) {

                    this.setDate(Math.max(n, this.getDaysInMonth()));
                }
                else {
                    this.setDate(Math.min(n, this.getDaysInMonth()));

                }

                return this;
            };
            var tt = $(txtDateFrom).val()

            var date = new Date(tt).toDateString();
            var newdate = new Date(date);

            newdate.addMonths(xMonth);

            var dd = newdate.getDate();
            var mm = newdate.getMonth() + 1;
            var y = newdate.getFullYear();

            var someFormattedDate = mm + '/' + dd + '/' + y;
            $(txtDateFrom).val(someFormattedDate);


            //dec the to date
            if (select == 'dec') {
                var ti = $(txtDateTo).val()
                var date = new Date(ti).toDateString();
                var newdateti = new Date(date);
                newdateti.addMonthsLastDec(xMonth);

                var dd = newdateti.getDate();
                var mm = newdateti.getMonth() + 1;
                var y = newdateti.getFullYear();

                var someFormattedDate = mm + '/' + dd + '/' + y;
                $(txtDateTo).val(someFormattedDate);
            }

            else {
                var ti = $(txtDateTo).val()

                var date = new Date(ti).toDateString();
                var newdateti = new Date(date);
                newdateti.addMonthsLast(xMonth);

                var dd = newdateti.getDate();
                var mm = newdateti.getMonth() + 1;
                var y = newdateti.getFullYear();

                var someFormattedDate = mm + '/' + dd + '/' + y;
                $(txtDateTo).val(someFormattedDate);
            }
        }


        else if (selected == 'rdQuarter') {
            //dec the from date
            var tt = $(txtDateFrom).val()

            var date = new Date(tt);
            var newdate = new Date(date);

            newdate.setMonth(newdate.getMonth() + xQuarter);

            var dd = newdate.getDate();
            var mm = newdate.getMonth() + 1;
            var y = newdate.getFullYear();

            var someFormattedDate = mm + '/' + dd + '/' + y;
            $(txtDateFrom).val(someFormattedDate);
            //dec the to date

            var TT = $(txtDateTo).val()

            var DATE = new Date(TT);
            var NEWDATE = new Date(DATE);

            //decrease date range
            if (select == 'dec') {
                xQuarter = -3;

                if (DATE.getMonth() == 11) {
                    NEWDATE.setDate(NEWDATE.getDate() - 1);
                    NEWDATE.setMonth(NEWDATE.getMonth() + xQuarter);

                }
                else if (DATE.getMonth() == 5) {
                    NEWDATE.setMonth(NEWDATE.getMonth() + xQuarter);
                    NEWDATE.setDate(NEWDATE.getDate() + 1);

                }
                else {
                    NEWDATE.setMonth(NEWDATE.getMonth() + xQuarter);

                }

            }
            else {
                xQuarter = 3;
                NEWDATE.setDate(NEWDATE.getDate() - 1);
                NEWDATE.setMonth(NEWDATE.getMonth() + xQuarter);
                if (NEWDATE.getMonth() == 11 || NEWDATE.getMonth() == 12 || DATE.getMonth() == 11) {
                    NEWDATE.setDate(31);
                } else {
                    if (DATE.getMonth() == 5) { NEWDATE.setDate(NEWDATE.getDate() + 1); }
                    else { NEWDATE.setDate(NEWDATE.getDate()); }

                }
            }
            var DD = NEWDATE.getDate();
            var MM = NEWDATE.getMonth() + 1;
            var Y = NEWDATE.getFullYear();

            var someFormattedDATE = MM + '/' + DD + '/' + Y;
            $(txtDateTo).val(someFormattedDATE);
        }
        else if (selected == 'rdYear') {

            var tt = $(txtDateFrom).val()

            var date = new Date(tt);
            var newdate = new Date(date);

            newdate.setFullYear(newdate.getFullYear() + xYear);

            var dd = newdate.getDate();
            var mm = newdate.getMonth() + 1;
            var y = newdate.getFullYear();

            var someFormattedDate = mm + '/' + dd + '/' + y;
            $(txtDateFrom).val(someFormattedDate);
            //dec the to date

            var TT = $(txtDateTo).val()

            var DATE = new Date(TT);
            var NEWDATE = new Date(DATE);

            NEWDATE.setFullYear(NEWDATE.getFullYear() + xYear);
            var DD = NEWDATE.getDate();
            var MM = NEWDATE.getMonth() + 1;
            var Y = NEWDATE.getFullYear();

            var someFormattedDATE = MM + '/' + DD + '/' + Y;
            $(txtDateTo).val(someFormattedDATE);
        }

        return false;

    }
    function SelectDate(type, txtDateFrom, txtdateTo, label, UniqueVal, rdGroup) {
        var type = type;
        var txtDateFrom = txtDateFrom;
        var txtdateTo = txtdateTo;
        var UniqueVal = UniqueVal;
        var label = label;
        if (type == 'Day') {
            var todaydate = new Date();
            var day = todaydate.getDate();
            var month = todaydate.getMonth() + 1;
            var year = todaydate.getFullYear();
            var datestring = month + "/" + day + "/" + year;
            $(txtdateTo).val(datestring);
            $(txtDateFrom).val(datestring);
            $(label).addClass("labelactive");
            $("#hdnBillsSelectDtRange").val("Day");
        }
        if (type == 'Week') {

            Date.prototype.GetFirstDayOfWeek = function () {
                return (new Date(this.setDate(this.getDate() - this.getDay())));
            }

            Date.prototype.GetLastDayOfWeek = function () {
                return (new Date(this.setDate(this.getDate() - this.getDay() + 6)));
            }
            var today = new Date();
            var Firstdate = today.GetFirstDayOfWeek();
            var day = Firstdate.getDate();
            var month = Firstdate.getMonth() + 1;
            var year = Firstdate.getFullYear();
            var datestring = month + "/" + day + "/" + year;
            $(txtDateFrom).val(datestring);
            var Lastdate = today.GetLastDayOfWeek();
            var day = Lastdate.getDate();
            var month = Lastdate.getMonth() + 1;
            var year = Lastdate.getFullYear();
            var dateString = month + "/" + day + "/" + year;
            $(txtdateTo).val(dateString);
            $(label).addClass("labelactive");
            $("#hdnBillsSelectDtRange").val("Week");
        }
        if (type == 'Month') {
            var date = new Date(), y = date.getFullYear(), m = date.getMonth();
            var FirstDayOfMonth = new Date(y, m, 1);
            var lastDayOfMonth = new Date(y, m + 1, 0);
            var day = FirstDayOfMonth.getDate();
            var month = FirstDayOfMonth.getMonth() + 1;
            var year = FirstDayOfMonth.getFullYear();
            var datestring = month + "/" + day + "/" + year;
            $(txtDateFrom).val(datestring);
            var day = lastDayOfMonth.getDate();
            var month = lastDayOfMonth.getMonth() + 1;
            var year = lastDayOfMonth.getFullYear();
            var dateString = month + "/" + day + "/" + year;
            $(txtdateTo).val(dateString);
            $(label).addClass("labelactive");
            $("#hdnBillsSelectDtRange").val("Month");
        }
        if (type == 'Quarter') {
            var d = new Date();
            var quarter = Math.floor((d.getMonth() / 3));
            var firstDate = new Date(d.getFullYear(), quarter * 3, 1);
            var lastDate = new Date(firstDate.getFullYear(), firstDate.getMonth() + 3, 0);
            var day = firstDate.getDate();
            var month = firstDate.getMonth() + 1;
            var year = firstDate.getFullYear();
            var datestring = month + "/" + day + "/" + year;
            $(txtDateFrom).val(datestring);
            var day = lastDate.getDate();
            var month = lastDate.getMonth() + 1;
            var year = lastDate.getFullYear();
            var dateString = month + "/" + day + "/" + year;
            $(txtdateTo).val(dateString);
            $(label).addClass("labelactive");
            $("#hdnBillsSelectDtRange").val("Quarter");
        }
        if (type == 'Year') {
            var date = new Date(), y = date.getFullYear(), m = date.getMonth();
            var FirstDayOfYear = new Date(y, 1, 1);
            var lastDayOfYear = new Date(y, 11, 31);
            var day = FirstDayOfYear.getDate();
            var month = FirstDayOfYear.getMonth();
            var year = FirstDayOfYear.getFullYear();
            var datestring = month + "/" + day + "/" + year;
            $(txtDateFrom).val(datestring);
            var day = lastDayOfYear.getDate();
            var month = lastDayOfYear.getMonth() + 1;
            var year = lastDayOfYear.getFullYear();
            var dateString = month + "/" + day + "/" + year;
            $(txtdateTo).val(dateString);
            $(label).addClass("labelactive");
            $("#hdnBillsSelectDtRange").val("Year");
        }
        if (typeof (Storage) !== "undefined") {
            // Store
            localStorage.setItem(UniqueVal, $("#hdnBillsSelectDtRange").val());
        }
        $("#hdnCssActive").val("CssActive");
        var clickSearchButton = $("#lnkSearch");
        clickSearchButton.click();
        $("#hdnCssActive").val("1");
    }

    function notyConfirm(ticid) {
        noty({
            dismissQueue: true,
            layout: 'topCenter',
            theme: 'noty_theme_default',
            animateOpen: { height: 'toggle' },
            animateClose: { height: 'toggle' },
            easing: 'swing',
            text: 'This account is inactive. Please change the account name before proceeding.',
            type: 'alert',
            speed: 500,
            timeout: false,
            closeButton: false,
            closeOnSelfClick: true,
            closeOnSelfOver: false,
            force: false,
            onShow: false,
            onShown: false,
            onClose: false,
            onClosed: false,
            buttons: [
                {
                    type: 'btn-primary', text: 'Yes', click: function ($noty) {
                        $noty.close();
                        //window.open("mailticket.aspx?id=" + ticid + "&c=0", "_blank");
                        window.open("addbills.aspx?id=" + ticid + "&t=c", "_self");


                    }
                },
                {
                    type: 'btn-danger', text: 'No', click: function ($noty) {
                        $noty.close();
                        //window.open("addticket.aspx?id=" + ticid + "&comp=0&pop=1&fr=tlv", "_self");
                    }
                }
            ],
            modal: true,
            template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
            cssPrefix: 'noty_',
            custom:
            {
                container: null
            }
        });
    }
</script>